/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	margin: 0;
	display: grid;

	font-family: system-ui, sans-serif;
	font-size: 1.5em;
  background-color: rgb(255, 188, 143);
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4 {

	font-weight: 400;
}

h1 {
	font-size: 7rem;
	line-height: 1.2;
	letter-spacing: -.1rem;
}

h2 {
	font-size: 3.8rem;
	line-height: 1.25;
	letter-spacing: -.1rem;
}

h3 {
	font-size: 2.6rem;
	line-height: 1.3;
	letter-spacing: -.1rem;
}

h4 {
	font-size: 2.0rem;
	line-height: 1.35;
	letter-spacing: -.08rem;
}

header {

	background: rgb(6, 38, 92);
	color: white;
	padding-top: 4rem;
  padding-right: 0px;
  width: 100%;
	text-align: center;
}

smallheaders {

	background: rgb(6, 38, 92);
	color: white;
	padding-top: 4rem;
  padding-right: 0px;
  width: 100%;
	text-align: left;
  padding-left: 30px;
}

aboutusheader {
  
  background: rgb(6, 38, 92);
	color: white;
	padding-top: 4rem;
  padding-left: 50px;
  padding-right: 30px;
  width: 100%;
	text-align: center;

}

centertext {
  width: 100%;
	text-align: center;
}

paragraph {
  padding-left: 30px;
  max-width: 50%;
  text-align: left;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  position: fixed;
  background-color: rgb(153, 223, 245);
}

nav li {
  float: left;
  border-right:1px solid #bbb;
}

nav li:last-child {
  border-right: none;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: rgb(69, 137, 255);
}

nav .active {
  background-color: rgb(6, 38, 92);
}

/* Home Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

homebutton {
  font-size: 14px;
  color: white;
  background-color: rgb(6, 38, 92);
  font-weight: 400;
  border-width: 2px;
  border-color: rgb(6, 38, 92);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 12px;
}

homebutton:hover {
  background-color: rgb(153, 223, 245);
  color: white;
  cursor: pointer;
}

box.a {
  display: inline-block;
  background-color: rgb(255, 188, 143);
  height: 60px;
  width: 100px;
  margin: 60px auto;

}

box.b {
  display: inline-block;
  font-size: 24px;
  color: white;
  text-align: center;
  font-weight: 600;
  width: 170px;
  height: 140px;

  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;


  border: 1px solid orange;    
  background-color: orange; 
}

box.c {
  display: inline-block;
  font-size: 24px;
  color: black;
  text-align: center;
  font-weight: 600;
  width: 250px;
  height: 300px;

  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;


  
  border: 20px solid white;    
  background-color: lightblue; 
}

circle.b {
  display: inline-block;
  font-size: 24px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-weight: 600;
  width: 140px;
  height: 140px;

  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;


  border: 1px solid orange;    
  background-color: orange; 
}

orangebutton {
  display: inline-block;
  font-size: 20px;
  color: black;
  background-color: orange;
  font-weight: 600;
  border-width: 2px;
  border-color: orange;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  border-radius: 5px;
}

orangebutton:hover {
  background-color: darkorange;
  color: black;
  cursor: pointer;
}

.center {
  margin: auto;
}


.column {
  float: left;
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}



.textside {
  float: left;
  padding-left: 40px;
}

.leftimage {
  float: left;
  width: 40%;
  font-family: Veranda;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.righttext {
  float:right;
  padding-right: 20px;
  max-width: 50%;
}

.rightbutton {
  float:right;
  padding-right: 38%;
  padding-top: 10px;
  padding-bottom: 30px;

}

.leftimageabout {
  float: left;
  width: 25%;
  font-family: Veranda;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 0px;
}

.collapsible {
  background-color: orange;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
}

.active, .collapsible:hover {
  background-color: darkorange;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: lightsalmon;
}

input {
  width: 50%;
}

#image {
  list-style-image: url(images/orangesquare.jpg);
}

/* Navigation for mental health page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

navi ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  overflow: hidden;
  width: 100%;
  background-color: orange;
}

navi li {
  float: left;
  border-right:1px solid #bbb;
}

navi li:last-child {
  border-right: none;
}

navi li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

navi li a:hover:not(.active) {
  background-color: darkorange;
}

navi .active {
  background-color: darkorange;
}