/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	margin: 0;
	display: grid;

	font-family: system-ui, sans-serif;
	font-size: 1.5em;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4 {

	font-weight: 400;
}

h1 {
	font-size: 5rem;
	line-height: 1.2;
	letter-spacing: -.1rem;
}

h2 {
	font-size: 3.8rem;
	line-height: 1.25;
	letter-spacing: -.1rem;
}

h3 {
	font-size: 2.6rem;
	line-height: 1.3;
	letter-spacing: -.1rem;
}

h4 {
	font-size: 2.0rem;
	line-height: 1.35;
	letter-spacing: -.08rem;
}

header {

	background: #455A64;
	color: white;
	padding-top: 4rem;
  padding-right: 0px;
  width: 100%;
	text-align: center;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  position: fixed;
  background-color: #333;
}

nav li {
  float: left;
  border-right:1px solid #bbb;
}

nav li:last-child {
  border-right: none;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

nav .active {
  background-color: #4CAF50;
}

/* Home Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

homebutton {
  font-size: 14px;
  color: white;
  background-color: blue;
  font-weight: 400;
  border-width: 2px;
  border-color: #073B4C;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

homebutton:hover {
  background-color: #118AB2;
  color: white;
  cursor: pointer;
}

box.a {
  background: #444444;
  height: 60px;
  width: 100px;
  margin: 60px auto;

}

box.b {
  display: inline-block;
  font-size: 24px;
  color: white;
  text-align: center;
  font-weight: 600;
  width: 170px;
  height: 140px;

  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;


  border: 1px solid orange;    
  background-color: orange; 
}

.center {
  margin: auto;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.leftimage {
  float: left;
  height: 75px;
  width: 235px;
  font-family: Veranda;
}
.righttext {
  float:right;
}